<section class="welcome">
    <%= notice %>
    <div class="welcome__wrapper m-auto">
        <div class="welcome__mail text-center">
            <%= image_tag("send_email.png") %>
            <p>
                <%= @user.email %>
            </p>
            <p>宛にメールを遅らせていただきました。</p>
            <p>届いたメールより認証をお願いします。</p><br>
            <p>なにか不明点などありましたら
                <%= link_to "こちらよりお問い合わせください。" , Settings.web[:formrun], class: "welcome__contact" %>
            </p><br>
            <%= link_to "ホーム画面へ戻る" , root_path, class: "welcome__contact" %>

        </div>
    </div>
</section>