<!-- topページ -->
<div class= "event-top">
    <p class= "success-message text-center js-notice">
        <%= notice %>
    </p>
    <div class="event-top__img">
        <%= image_tag 'top-image.jpg' %>
    </div>
    <div class="event-top__content text-center">
        <h1 class = "event-top__title" id = "js-typing">
            <%= t("title.welcome") %>
        </h1>
        <div class="event-top__btn__wrapper">
            <% if not current_user %>
                <%= link_to new_user_registration_path,class: "btn btn-flat event-top__btn registration-btn" do %>
                    <span>
                        <%= t("user.registration") %>
                    </span>
                <% end %>
                <%= link_to new_user_session_path, class: "btn btn-flat event-top__btn login-btn" do %>
                    <span>
                        <%= t("user.login") %>
                    </span>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="event-info">

    <h3 class="event-info__title text-center title-text">
        <%= t("title.event") %>
    </h3>

    <%= render 'events/shared/slider' %>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.what_is") %>
    </h3>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.q_and_a") %>
    </h3>

    <div class="event-info__twitter text-center">
        <h3 class="event-info__title text-center title-text">
            <%= t("title.twitter") %>
        </h3>
        <a class="twitter-timeline" data-width="600" data-height="800"
            href="https://twitter.com/eLeGfKhU47Zrfdx?ref_src=twsrc%5Etfw">Tweets by カフェモダン</a>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>