<!-- topページ -->
<div class= "event-top">
    <%= render 'shared/notice' %>
    <div class="event-top__img">
        <%= image_tag 'top-image.jpg' %>
    </div>
    <div class="event-top__content text-center">
        <h1 class = "event-top__title" id = "js-typing">
            <%= t("title.welcome") %>
            インデックスなし
            13.231.******
        </h1>
        <div class="event-top__btn__wrapper">
            <% if not current_user %>
                <%= link_to new_user_registration_path,class: "btn btn-flat event-top__btn registration-btn" do %>
                    <span>
                        <%= t("user.registration") %>
                    </span>
                <% end %>
                <%= link_to new_user_session_path, class: "btn btn-flat event-top__btn login-btn" do %>
                    <span>
                        <%= t("user.login") %>
                    </span>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="event-info">

    <h3 class="event-info__title text-center title-text">
        <%= t("title.event") %>
    </h3>

    <%= render 'events/shared/slider' %>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.what_is") %>
    </h3>
    <div class="event-info__description m-auto">
        <div class="event-info__description__content text-center">
            <div class="event-info__description__circle">
                <span><i class="fas fa-user-friends event-info__description__icon"></i></span>
            </div>
            <%= t("top.title1_html") %>
            <p class = "event-info__description__text m-auto">
                <%= t("top.content1") %>
            </p>
        </div>
        <div class="event-info__description__content text-center">
            <div class="event-info__description__circle">
                <span><i class="fas fa-coffee event-info__description__icon"></i></span>
            </div>
            <%= t("top.title2_html") %>
            <p class = "event-info__description__text m-auto">
                <%= t("top.content2") %>
            </p>
        </div>
        <div class="event-info__description__content text-center">
            <div class="event-info__description__circle m-auto">
                <span><i class="fas fa-baby event-info__description__icon"></i></span>
            </div>
            <%= t("top.title3_html") %>
            <p class="event-info__description__text m-auto">
                <%= t("top.content3") %>
            </p>
        </div>
    </div>

    <h3 class="event-info__title text-center title-text">
        <%= t("title.qa") %>
    </h3>
    <div class="event-info_qa">
        <div class="event-info_actab">
            <input id="event-info_tabfour1" type="checkbox" name="tabs">
            <label for="event-info_tabfour1">
                <%= t("top.qa.q1") %>
            </label>
            <div class="event-info_actab-content">
                <p>
                    <%= t("top.qa.a1") %>
                </p>
            </div>
        </div>
        <div class="event-info_actab">
            <input id="event-info_tabfour2" type="checkbox" name="tabs">
            <label for="event-info_tabfour2">
                <%= t("top.qa.q2") %>
            </label>
            <div class="event-info_actab-content">
                <p>
                    <%= t("top.qa.a2_html") %>
                </p>
            </div>
        </div>
        <div class="event-info_actab">
            <input id="event-info_tabfour3" type="checkbox" name="tabs">
            <label for="event-info_tabfour3">
                <%= t("top.qa.q3") %>
            </label>
            <div class="event-info_actab-content">
                <p>
                    <%= t("top.qa.a3") %>
                </p>
            </div>
        </div>
    </div>

    <div class="event-info__twitter text-center">
        <h3 class="event-info__title text-center title-text">
            <%= t("title.twitter") %>
        </h3>
        <a class="twitter-timeline" data-width="600" data-height="800"
            href="https://twitter.com/eLeGfKhU47Zrfdx?ref_src=twsrc%5Etfw">Tweets by カフェモダン</a>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>